*{
    margin:0;
    padding: 0;
    font-family: 'Mochiy Pop One', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(../images/backgroundindex.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  top: 0;
  width: 100%;
}
li {
  display: inline;
  float: left;
  border-right: 1px solid white;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: 'Secular One', sans-serif;
}
.active {
  background-color: green;
}
li a:hover {
  background-color: grey;
}
li:last-child {
  border-right: none;
}

.tituloSW{
    color: black;
    text-align: center;
    text-shadow: white 0px 0px 20px;
    font-size: 40px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 15px;
}

.Cat{
    padding-left: 40px;
}
.infoSW{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0px 150px;
    padding-bottom: 25px;
    text-shadow: white 0px 0px 5px;
    text-transform:fullsize-kana;     
}

.titulocover{ 
    color: black;
    text-align: center;
    text-shadow: white 0px 0px 20px;
    font-size: 40px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 15px;
}
.infocover{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0px 150px;
    padding-bottom: 25px;
    text-shadow: white 0px 0px 5px;
    text-transform:fullsize-kana; 
}

section{
    background: black;
    display: flex;
    width: 1707px;
    height: 750px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .6;
    transition: .5 ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}