@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
}
.container {
    height: 100vh;
    width: 100%;
    background-image: url(../images/BackgroundTLOU.png);
    background-position: right top;
    background-size: cover;
    background-repeat: repeat;
    box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  top: 0;
  width: 100%;
}

li {
  display: inline;
  float: left;
  border-right: 1px solid white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: 'Secular One', sans-serif;
}

.active {
  background-color: darkgreen;
}
li a:hover {
  background-color: grey;
}
li:last-child {
  border-right: none;
}

.titulo{
  padding: 100px 150px;  
  margin: auto;  
}

.imgEJ{
  left: 1150px;
  bottom:296px;
  position: relative;
}

.info{
  text-shadow: lightgreen 0px 0px 8px;
  text-transform:fullsize-kana;
  font-family: 'Crimson Text', serif; 
  color: white;
  font-size: 25px;
  text-align: left;
  margin-left: 1250px;
  position: relative;
  right: 1000px;
  bottom: 750px;
}

.container2{
    background-color: black;
    height: 85vh;
    width: 100%;   
}
.titulo2{
    color: white;
    font-size: 40px;
    text-align: center;
    text-shadow: lightgreen 1px 1px 8px;
    position: relative;
    top: 10px;
}
.personajes{
    display: flex;
    justify-content: space-evenly;
}
.EllieBox{
    padding: 5px;
}
.JoelBox{
    padding: 5px;
}
.TessBox{
    padding-top: 40px;
}
.TommyBox{
    padding-top: 40px;
}
.zoomEllie{
  padding: 30px;
  background-image: url(../images/EllieTLOU.jpg);
  border-radius: 15px;
  background-size: cover;
  background-repeat: none;
  transition: transform .2s;
  width: 300px;
  height: 300px;
  margin-top: 30px;
}
.zoomEllie:hover {
  transform: scale(1.1); 
}
.zoomJoel{
  padding: 30px;
  background-image: url(../images/JoelTLOU.jpg);
  border-radius: 15px;  
  background-size: cover;
  background-repeat: none;
  transition: transform .2s;
  width: 300px;
  height: 300px;
  margin-top: 30px;
}
.zoomJoel:hover {
  transform: scale(1.1); 
}
.zoomTess{
  padding: 30px;
  background-image: url(../images/TessTLOU.jpg);
  border-radius: 15px; 
  background-size: cover;
  background-repeat: none;
  transition: transform .2s;
  width: 300px;
  height: 300px;
  margin-top: 30px;
}
.zoomTess:hover {
  transform: scale(1.1); 
}
.zoomTommy{
  padding: 30px;
  background-image: url(../images/TommyTLOU.jpg);
  border-radius: 15px; 
  background-size: cover;
  background-repeat: none;
  transition: transform .2s;
  width: 300px;
  height: 300px;
  margin-top: 30px;
}
.zoomTommy:hover {
  transform: scale(1.1); 
}

.TituloEllie{
    color: lightgreen;
    text-align: center;
    padding-top: 20px;
    margin-right:1500px;
    position: relative;
    left: 135px;
    
}
.parrafoEllie{
    color: white;
    text-align: justify;
    margin-right: 1350px;
    position: relative;
    left: 60px; 
    padding-top: 5px;
}
.TituloJoel{
    color: lightgreen;
    text-align: center;
    padding-top: 20px;
    margin-right:1500px;
    position: relative;
    left: 540px;
    bottom: 128px;
    
}
.parrafoJoel{
    color: white;
    text-align: justify;
    margin-right: 1350px;
    position: relative;
    left: 465px; 
    bottom: 128px;
    padding-top: 5px;
}
.TituloTess{
    color: lightgreen;
    text-align: center;
    padding-top: 20px;
    margin-right:1450px;
    position: relative;
    left: 945px;
    bottom: 256px;
    
}
.parrafoTess{
    color: white;
    text-align: justify;
    margin-right: 1350px;
    position: relative;
    left: 880px; 
    bottom: 256px;
    padding-top: 5px;
}
.TituloTommy{
    color: lightgreen;
    text-align: center;
    padding-top: 20px;
    margin-right:1500px;
    position: relative;
    left: 1350px;
    bottom: 384px;
    
}
.parrafoTommy{
    color: white;
    text-align: justify;
    margin-right: 1350px;
    position: relative;
    left: 1295px; 
    bottom: 384px;
    padding-top: 5px;
}
.container3{
  height: 60vh;
  width: 100%;   
  background-image: url(../images/TLOFTrailer.jpg);
  background-position: right top;
  background-repeat: repeat;  
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}
.titulo3{
  text-shadow: lightgreen 0px 0px 8px;
  text-transform:fullsize-kana;    
  background-color: #092502;
  font-size: 35px;
  color: white;
  position: relative;
  text-align: center;
  bottom: 100px;
  font-family: 'Unbounded', cursive;
}

.musica{
  position: relative;
  left: 1200px;
  top: 150px;
}

.container4{
  height: 40vh;
  width: 100%;   
  background-image: url(../images/BackgroundTLOU.jpg);
  background-position: right top;
  background-repeat: repeat;  
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}

.titulo4{
  text-shadow: lightgreen 0px 0px 8px;
  text-transform:fullsize-kana;    
  background-color: #092502;
  font-size: 40px;
  color: white;
  position: relative;
  text-align: center;
  bottom: 0px;
  font-family: 'Unbounded', cursive;  
}
.btntrailer{
  background-color: white;
  border-radius: 10px;
  color: #092502;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform:uppercase;
  position: relative;
  left: 300px;
  top: 100px;
}
.btnjuego{
  background-color: white;
  border-radius: 10px;
  color: #092502;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform:uppercase;
  position: relative;
  left: 1000px;
  top: 100px;
}